$primary-green: rgba(56, 171, 87, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$orange: rgba(255, 107, 48, 1);
$ivory: rgba(248, 243, 243, 1);
$brown: rgba(140, 125, 118, 1);
$smoky-gray: rgba(199, 195, 193, 1);


$gap-main: 40px;
$gap-menu: 48px;
$gap-submenu: 56px;
$gap-actions: 24px;

$font-family: 'Graphik LCG', sans-serif;
$font-size-big: 44px;
$font-size-large: 32px;
$font-size-regular: 24px;
$font-size-medium: 18px;
$font-size-small: 16px;
$line-height-main: 40px;
$font-size-mini: 14px;
$font-size-20: 20px;

$button-height: 48px;
$button-width: 197px;
$slider-button-size: 64px;
$border-radius-button: 100px;
$border-radius-slider: 60px;
