.technology {
  color: $black;

  .technology__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include bp-media('lg', 'md', 'sm', 'xs') {
      align-items: start;
    }
  }

  .technology__title {
    padding-bottom: 16px;
    font-size: $font-size-big;
    font-weight: 500;

    @include bp-media('lg', 'md', 'sm', 'xs') {
      font-size: $font-size-regular;
    }
  }

  .technology__subtitle {
    max-width: 100%;
    font-size: $font-size-regular;
    font-weight: 400;

    @include bp-media('lg', 'md', 'sm', 'xs') {
      font-size: $font-size-mini;
    }
  }

  .technology__buttons {
    overflow: auto;
    padding-top: 48px;
    display: flex;
    gap: 32px;
    font-size: $font-size-medium;
    font-weight: 400;
    padding-bottom: 24px;

    @include bp-media('lg', 'md', 'sm', 'xs') {
      font-size: $font-size-mini;
    }
  }
  .technology__button {
    text-wrap: nowrap;
  }

  .technology__content {
    overflow: hidden;
    background-color: $ivory;
    display: flex;
    border-radius: 24px;

    @include bp-media('lg', 'md', 'sm', 'xs') {
      flex-direction: column;
    }
  }

  .technology__descriptions {
    padding: 64px 40px 0 64px;
    display: flex;
    flex-direction: column;
    gap: 64px;

    @include bp-media('lg', 'md', 'sm', 'xs') {
      padding: 16px 28px 24px 16px;
      gap: 18px;
    }
  }

  .technology__description {
    display: flex;
    flex-direction: column;
  }

  .technology__description-subtitle {
    padding-bottom: 4px;
    font-weight: 400;
    color: $brown;
    opacity: 0.5;
    font-size: 12px;
  }
  .technology__description-title {
    font-weight: 500;
    font-size: $font-size-small;
    padding-bottom: 8px;
  }
  .technology__description-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .technology__description-item {
    color: $black;

    &::before {
      content: "•";
      color: $brown;
      display: inline-block;
      width: 2px;
      padding-right: 17px;
    }

    @include bp-media('lg', 'md', 'sm', 'xs') {
font-size: $font-size-mini
    }
  }

  .technology__logo {
    @include bp-media('lg', 'md', 'sm', 'xs') {
      width: 58px;
      height: 54px;
    }
  }

  .technology__image {
    width: 100%;
    object-fit: contain;
  }

  .technology__features {
    padding-top: 64px;
    display: flex;
    gap: 71px;

    @include bp-media('lg', 'md', 'sm', 'xs') {
      padding-top: 32px;
      flex-direction: column;
    }
  }
}


